{
  "openapi": "3.0.1",
  "info": {
    "title": "LinguaNova Translator API",
    "description": "API documentation for the LinguaNova Translator, which provides AI-powered, real-time chat translation services with support for common abbreviations and casual texting formats.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.linguanova.live"
    }
  ],
  "security": [
    {
      "x-api-key": []
    }
  ],
  "paths": {
    "/translate": {
      "get": {
        "description": "Translates the provided text into the specified target language.",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "Text to translate.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tolang",
            "in": "query",
            "description": "Language to translate the text into (lowercase, default 'en').",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en",
              "enum": [
                "af",
                "sq",
                "am",
                "ar",
                "hy",
                "as",
                "ay",
                "az",
                "bm",
                "eu",
                "be",
                "bn",
                "bho",
                "bs",
                "bg",
                "ca",
                "ceb",
                "zh",
                "zh-cn",
                "zh-tw",
                "zh-sg",
                "zh-hk",
                "co",
                "hr",
                "cs",
                "da",
                "dv",
                "doi",
                "nl",
                "en",
                "eo",
                "et",
                "ee",
                "fil",
                "fi",
                "fr",
                "fy",
                "gl",
                "ka",
                "de",
                "el",
                "gn",
                "gu",
                "ht",
                "ha",
                "haw",
                "he",
                "iw",
                "hi",
                "hmn",
                "hu",
                "is",
                "ig",
                "ilo",
                "id",
                "ga",
                "it",
                "ja",
                "jv",
                "jw",
                "kn",
                "kk",
                "km",
                "rw",
                "gom",
                "ko",
                "kri",
                "ku",
                "ckb",
                "ky",
                "lo",
                "la",
                "lv",
                "ln",
                "lt",
                "lg",
                "lb",
                "mk",
                "mai",
                "mg",
                "ms",
                "ml",
                "mt",
                "mi",
                "mr",
                "mni-mtei",
                "lus",
                "mn",
                "my",
                "ne",
                "no",
                "ny",
                "or",
                "om",
                "ps",
                "fa",
                "pl",
                "pt",
                "pa",
                "qu",
                "ro",
                "ru",
                "sm",
                "sa",
                "gd",
                "nso",
                "sr",
                "st",
                "sn",
                "sd",
                "si",
                "sk",
                "sl",
                "so",
                "es",
                "su",
                "sw",
                "sv",
                "tl",
                "tg",
                "ta",
                "tt",
                "te",
                "th",
                "ti",
                "ts",
                "tr",
                "tk",
                "ak",
                "uk",
                "ur",
                "ug",
                "uz",
                "vi",
                "cy",
                "xh",
                "yi",
                "yo",
                "zu"
              ]
            }
          },
          {
            "name": "fromLang",
            "in": "query",
            "description": "Source language (default 'auto').",
            "required": false,
            "schema": {
              "type": "string",
              "default": "auto",
              "enum": [
                "auto",
                "af",
                "sq",
                "am",
                "ar",
                "hy",
                "as",
                "ay",
                "az",
                "bm",
                "eu",
                "be",
                "bn",
                "bho",
                "bs",
                "bg",
                "ca",
                "ceb",
                "zh",
                "zh-cn",
                "zh-tw",
                "zh-sg",
                "zh-hk",
                "co",
                "hr",
                "cs",
                "da",
                "dv",
                "doi",
                "nl",
                "en",
                "eo",
                "et",
                "ee",
                "fil",
                "fi",
                "fr",
                "fy",
                "gl",
                "ka",
                "de",
                "el",
                "gn",
                "gu",
                "ht",
                "ha",
                "haw",
                "he",
                "iw",
                "hi",
                "hmn",
                "hu",
                "is",
                "ig",
                "ilo",
                "id",
                "ga",
                "it",
                "ja",
                "jv",
                "jw",
                "kn",
                "kk",
                "km",
                "rw",
                "gom",
                "ko",
                "kri",
                "ku",
                "ckb",
                "ky",
                "lo",
                "la",
                "lv",
                "ln",
                "lt",
                "lg",
                "lb",
                "mk",
                "mai",
                "mg",
                "ms",
                "ml",
                "mt",
                "mi",
                "mr",
                "mni-mtei",
                "lus",
                "mn",
                "my",
                "ne",
                "no",
                "ny",
                "or",
                "om",
                "ps",
                "fa",
                "pl",
                "pt",
                "pa",
                "qu",
                "ro",
                "ru",
                "sm",
                "sa",
                "gd",
                "nso",
                "sr",
                "st",
                "sn",
                "sd",
                "si",
                "sk",
                "sl",
                "so",
                "es",
                "su",
                "sw",
                "sv",
                "tl",
                "tg",
                "ta",
                "tt",
                "te",
                "th",
                "ti",
                "ts",
                "tr",
                "tk",
                "ak",
                "uk",
                "ur",
                "ug",
                "uz",
                "vi",
                "cy",
                "xh",
                "yi",
                "yo",
                "zu"
              ]
            }
          },
          {
            "name": "nocache",
            "in": "query",
            "description": "Indicates if the translated text should not be cached (default 'false').",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful translation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "translatedText": {
                      "type": "string",
                      "description": "The translated text."
                    },
                    "detectedLanguage": {
                      "type": "string",
                      "description": "The detected source language."
                    },
                    "toLang": {
                      "type": "string",
                      "description": "The target language."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "string",
                      "example": "MISSING_PARAMETERS"
                    },
                    "mandatory": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "text",
                        "tolang"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Subscription or API key issue.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "You are not subscribed to this API or x-api-key header is missing"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "INTERNAL_SERVER_ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/detect": {
      "get": {
        "description": "Detects the language of the provided text.",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "Text whose language is to be detected.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Language detection successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reliable": {
                      "type": "boolean",
                      "description": "Indicates if the detection is reliable."
                    },
                    "lang": {
                      "type": "string",
                      "description": "The detected language."
                    },
                    "confidence": {
                      "type": "integer",
                      "description": "Confidence score (0-100)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "string",
                      "example": "MISSING_PARAMETERS"
                    },
                    "mandatory": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "text"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Subscription or API key issue.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "You are not subscribed to this API or x-api-key header is missing"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "INTERNAL_SERVER_ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support-languages": {
      "get": {
        "description": "Retrieves a list of supported languages for translation.",
        "responses": {
          "200": {
            "description": "A list of supported languages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Language code."
                      },
                      "language": {
                        "type": "string",
                        "description": "Language name."
                      }
                    }
                  }
                },
                "example": [
                  {
                    "code": "auto",
                    "language": "Automatic"
                  },
                  {
                    "code": "af",
                    "language": "Afrikaans"
                  },
                  {
                    "code": "sq",
                    "language": "Albanian"
                  },
                  {
                    "code": "am",
                    "language": "Amharic"
                  },
                  {
                    "code": "ar",
                    "language": "Arabic"
                  },
                  {
                    "code": "hy",
                    "language": "Armenian"
                  },
                  {
                    "code": "as",
                    "language": "Assamese"
                  },
                  {
                    "code": "ay",
                    "language": "Aymara"
                  },
                  {
                    "code": "az",
                    "language": "Azerbaijani"
                  },
                  {
                    "code": "bm",
                    "language": "Bambara"
                  },
                  {
                    "code": "eu",
                    "language": "Basque"
                  },
                  {
                    "code": "be",
                    "language": "Belarusian"
                  },
                  {
                    "code": "bn",
                    "language": "Bengali"
                  },
                  {
                    "code": "bho",
                    "language": "Bhojpuri"
                  },
                  {
                    "code": "bs",
                    "language": "Bosnian"
                  },
                  {
                    "code": "bg",
                    "language": "Bulgarian"
                  },
                  {
                    "code": "ca",
                    "language": "Catalan"
                  },
                  {
                    "code": "ceb",
                    "language": "Cebuano"
                  },
                  {
                    "code": "zh",
                    "language": "Chinese (Simplified)"
                  },
                  {
                    "code": "zh-cn",
                    "language": "Chinese (Simplified, PRC) "
                  },
                  {
                    "code": "zh-tw",
                    "language": "Chinese (Traditional, Taiwan)"
                  },
                  {
                    "code": "zh-sg",
                    "language": "Chinese (Simplified, Singapore)"
                  },
                  {
                    "code": "zh-hk",
                    "language": "Chinese (Traditional, Hong Kong)"
                  },
                  {
                    "code": "co",
                    "language": "Corsican"
                  },
                  {
                    "code": "hr",
                    "language": "Croatian"
                  },
                  {
                    "code": "cs",
                    "language": "Czech"
                  },
                  {
                    "code": "da",
                    "language": "Danish"
                  },
                  {
                    "code": "dv",
                    "language": "Dhivehi"
                  },
                  {
                    "code": "doi",
                    "language": "Dogri"
                  },
                  {
                    "code": "nl",
                    "language": "Dutch"
                  },
                  {
                    "code": "en",
                    "language": "English"
                  },
                  {
                    "code": "eo",
                    "language": "Esperanto"
                  },
                  {
                    "code": "et",
                    "language": "Estonian"
                  },
                  {
                    "code": "ee",
                    "language": "Ewe"
                  },
                  {
                    "code": "fil",
                    "language": "Filipino (Tagalog)"
                  },
                  {
                    "code": "fi",
                    "language": "Finnish"
                  },
                  {
                    "code": "fr",
                    "language": "French"
                  },
                  {
                    "code": "fy",
                    "language": "Frisian"
                  },
                  {
                    "code": "gl",
                    "language": "Galician"
                  },
                  {
                    "code": "ka",
                    "language": "Georgian"
                  },
                  {
                    "code": "de",
                    "language": "German"
                  },
                  {
                    "code": "el",
                    "language": "Greek"
                  },
                  {
                    "code": "gn",
                    "language": "Guarani"
                  },
                  {
                    "code": "gu",
                    "language": "Gujarati"
                  },
                  {
                    "code": "ht",
                    "language": "Haitian Creole"
                  },
                  {
                    "code": "ha",
                    "language": "Hausa"
                  },
                  {
                    "code": "haw",
                    "language": "Hawaiian"
                  },
                  {
                    "code": "he",
                    "language": "Hebrew"
                  },
                  {
                    "code": "iw",
                    "language": "Hebrew"
                  },
                  {
                    "code": "hi",
                    "language": "Hindi"
                  },
                  {
                    "code": "hmn",
                    "language": "Hmong"
                  },
                  {
                    "code": "hu",
                    "language": "Hungarian"
                  },
                  {
                    "code": "is",
                    "language": "Icelandic"
                  },
                  {
                    "code": "ig",
                    "language": "Igbo"
                  },
                  {
                    "code": "ilo",
                    "language": "Ilocano"
                  },
                  {
                    "code": "id",
                    "language": "Indonesian"
                  },
                  {
                    "code": "ga",
                    "language": "Irish"
                  },
                  {
                    "code": "it",
                    "language": "Italian"
                  },
                  {
                    "code": "ja",
                    "language": "Japanese"
                  },
                  {
                    "code": "jv",
                    "language": "Javanese"
                  },
                  {
                    "code": "jw",
                    "language": "Javanese"
                  },
                  {
                    "code": "kn",
                    "language": "Kannada"
                  },
                  {
                    "code": "kk",
                    "language": "Kazakh"
                  },
                  {
                    "code": "km",
                    "language": "Khmer"
                  },
                  {
                    "code": "rw",
                    "language": "Kinyarwanda"
                  },
                  {
                    "code": "gom",
                    "language": "Konkani"
                  },
                  {
                    "code": "ko",
                    "language": "Korean"
                  },
                  {
                    "code": "kri",
                    "language": "Krio"
                  },
                  {
                    "code": "ku",
                    "language": "Kurdish"
                  },
                  {
                    "code": "ckb",
                    "language": "Kurdish (Sorani)"
                  },
                  {
                    "code": "ky",
                    "language": "Kyrgyz"
                  },
                  {
                    "code": "lo",
                    "language": "Lao"
                  },
                  {
                    "code": "la",
                    "language": "Latin"
                  },
                  {
                    "code": "lv",
                    "language": "Latvian"
                  },
                  {
                    "code": "ln",
                    "language": "Lingala"
                  },
                  {
                    "code": "lt",
                    "language": "Lithuanian"
                  },
                  {
                    "code": "lg",
                    "language": "Luganda"
                  },
                  {
                    "code": "lb",
                    "language": "Luxembourgish"
                  },
                  {
                    "code": "mk",
                    "language": "Macedonian"
                  },
                  {
                    "code": "mai",
                    "language": "Maithili"
                  },
                  {
                    "code": "mg",
                    "language": "Malagasy"
                  },
                  {
                    "code": "ms",
                    "language": "Malay"
                  },
                  {
                    "code": "ml",
                    "language": "Malayalam"
                  },
                  {
                    "code": "mt",
                    "language": "Maltese"
                  },
                  {
                    "code": "mi",
                    "language": "Maori"
                  },
                  {
                    "code": "mr",
                    "language": "Marathi"
                  },
                  {
                    "code": "mni-mtei",
                    "language": "Meiteilon (Manipuri)"
                  },
                  {
                    "code": "lus",
                    "language": "Mizo"
                  },
                  {
                    "code": "mn",
                    "language": "Mongolian"
                  },
                  {
                    "code": "my",
                    "language": "Myanmar (Burmese)"
                  },
                  {
                    "code": "ne",
                    "language": "Nepali"
                  },
                  {
                    "code": "no",
                    "language": "Norwegian"
                  },
                  {
                    "code": "ny",
                    "language": "Nyanja (Chichewa)"
                  },
                  {
                    "code": "or",
                    "language": "Odia (Oriya)"
                  },
                  {
                    "code": "om",
                    "language": "Oromo"
                  },
                  {
                    "code": "ps",
                    "language": "Pashto"
                  },
                  {
                    "code": "fa",
                    "language": "Persian"
                  },
                  {
                    "code": "pl",
                    "language": "Polish"
                  },
                  {
                    "code": "pt",
                    "language": "Portuguese (Portugal, Brazil)"
                  },
                  {
                    "code": "pa",
                    "language": "Punjabi"
                  },
                  {
                    "code": "qu",
                    "language": "Quechua"
                  },
                  {
                    "code": "ro",
                    "language": "Romanian"
                  },
                  {
                    "code": "ru",
                    "language": "Russian"
                  },
                  {
                    "code": "sm",
                    "language": "Samoan"
                  },
                  {
                    "code": "sa",
                    "language": "Sanskrit"
                  },
                  {
                    "code": "gd",
                    "language": "Scots Gaelic"
                  },
                  {
                    "code": "nso",
                    "language": "Sepedi"
                  },
                  {
                    "code": "sr",
                    "language": "Serbian"
                  },
                  {
                    "code": "st",
                    "language": "Sesotho"
                  },
                  {
                    "code": "sn",
                    "language": "Shona"
                  },
                  {
                    "code": "sd",
                    "language": "Sindhi"
                  },
                  {
                    "code": "si",
                    "language": "Sinhala (Sinhalese)"
                  },
                  {
                    "code": "sk",
                    "language": "Slovak"
                  },
                  {
                    "code": "sl",
                    "language": "Slovenian"
                  },
                  {
                    "code": "so",
                    "language": "Somali"
                  },
                  {
                    "code": "es",
                    "language": "Spanish"
                  },
                  {
                    "code": "su",
                    "language": "Sundanese"
                  },
                  {
                    "code": "sw",
                    "language": "Swahili"
                  },
                  {
                    "code": "sv",
                    "language": "Swedish"
                  },
                  {
                    "code": "tl",
                    "language": "Tagalog (Filipino)"
                  },
                  {
                    "code": "tg",
                    "language": "Tajik"
                  },
                  {
                    "code": "ta",
                    "language": "Tamil"
                  },
                  {
                    "code": "tt",
                    "language": "Tatar"
                  },
                  {
                    "code": "te",
                    "language": "Telugu"
                  },
                  {
                    "code": "th",
                    "language": "Thai"
                  },
                  {
                    "code": "ti",
                    "language": "Tigrinya"
                  },
                  {
                    "code": "ts",
                    "language": "Tsonga"
                  },
                  {
                    "code": "tr",
                    "language": "Turkish"
                  },
                  {
                    "code": "tk",
                    "language": "Turkmen"
                  },
                  {
                    "code": "ak",
                    "language": "Twi (Akan)"
                  },
                  {
                    "code": "uk",
                    "language": "Ukrainian"
                  },
                  {
                    "code": "ur",
                    "language": "Urdu"
                  },
                  {
                    "code": "ug",
                    "language": "Uyghur"
                  },
                  {
                    "code": "uz",
                    "language": "Uzbek"
                  },
                  {
                    "code": "vi",
                    "language": "Vietnamese"
                  },
                  {
                    "code": "cy",
                    "language": "Welsh"
                  },
                  {
                    "code": "xh",
                    "language": "Xhosa"
                  },
                  {
                    "code": "yi",
                    "language": "Yiddish"
                  },
                  {
                    "code": "yo",
                    "language": "Yoruba"
                  },
                  {
                    "code": "zu",
                    "language": "Zulu"
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden: Subscription or API key issue.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "You are not subscribed to this API or x-api-key header is missing"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "INTERNAL_SERVER_ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}
